<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csce.capstone.poi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.csce.capstone.poi.ProximityAlert" 
            android:exported="false">
            <intent-filter>
                <action android:name="com.csce.capstone.poi.action.PROXIMITY_ALERT" >
                </action>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.csce.capstone.poi.AndroidUIMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.csce.capstone.poi.AndroidUIFactActivity"
            android:label="@string/title_activity_android_uifact"
            android:clearTaskOnLaunch="true"
            android:taskAffinity=""
            android:excludeFromRecents="true">
            
            
        </activity>
        <activity
            android:name="com.csce.capstone.poi.AndroidUILocationsListActivity"
            android:label="@string/title_activity_android_uilocations_list" 
            android:parentActivityName=".AndroidUIMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AndroidUIFactActivity"/>
        </activity>
    </application>

</manifest>